.Map-container {
    /* --map-height: 100vh; */
    /* height: var(--map-height);
    width: calc(var(--map-height)*3); */
    display: grid;
    grid-template-rows: repeat(18, 250px);
    grid-template-columns: repeat(17, 300px);
    margin-left: -150px;
}

.hexagon {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background: white;
    margin: 0px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .hexagon:hover {
    z-index: 11;
    background: radial-gradient(black, rgb(22, 22, 22)) !important;
}
.hexagon:focus {
    background: radial-gradient(black, rgb(22, 22, 22)) !important;
}
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: inherit;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 42.9340px;
  }
  
  .hexagon:before {
    top: -106.0660px;
    border-top: solid 1px #333333;
    border-right: solid 1px #333333;
  }

  .hexagon:after {
    bottom: -106.0660px;
    border-bottom: solid 1px #333333;
    border-left: solid 1px #333333;
  }



  .hexagon-odd {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background:white;
    margin: 0px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-left: 150px;
  }

  .hexagon-odd:hover {
      /* z-index: 10; */
      background: radial-gradient(black, rgb(22, 22, 22)) !important;
  }
  .hexagon-odd:focus {
    background: radial-gradient(black, rgb(22, 22, 22)) !important;
}
  
  
  .hexagon-odd:before,
  .hexagon-odd:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 42.9340px;
  }
  
  .hexagon-odd:before {
    top: -106.0660px;
    border-top: solid 1px #333333;
    border-right: solid 1px #333333;
  }
  
  .hexagon-odd:after {
    bottom: -106.0660px;
    border-bottom: solid 1px #333333;
    border-left: solid 1px #333333;
  }

